<form class="m-6">
    <div class="m-3">
        <label for="email" class="form-label  ">Email</label>
        <input type="email" name="name" id="name" class="form-control">
    </div>
    <div class="m-3">
        <label for="password" class="form-label ">Password</label>
        <input type="password" name="password" id="password" class="form-control form-control-sm">
    </div>
    <div class="m-3">
        <label for="address" class="form-label">Address</label>
        <textarea name="address" id="address" class="form-control form-control-lg"></textarea>
    </div>
</form>

<table class="table m-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>