@model ActivityModel
<section class="mt-2 ">

    <div class="col-6 container ">
        <div class="card m-10">
            <div class="card-body ">
                <h5 class="card-title">Create Event</h5>

                <form asp-controller="Admin" id ="eventForm" asp-action="CreateEvent" method="post" class="m-10">
                    <div class="form-group">
                        <label for="eventName">Title</label>
                        <input type="text" name="eventName" class="form-control" id="eventName">
                    </div>
                    <div class="form-group">
                        <label for="eventDate">Event Date  </label>
                        <input type="date" name="eventDate" id="eventDate" required />
                    </div>
                    <div class="form-group">
                        <label for="eventType">Example select</label>
                        <select name="type" class="form-control" id="eventType" required>
                            <option value="Meeting">Meeting</option>
                            <option value="Conference">Conference</option>
                            <option value="Birthday">Birthday</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="eventInfo">Event Info:</label>
                        <textarea class="form-control" id="eventInfo" name="info"></textarea>
                    </div>
                    <button type="submit" onclick="addEvent()" class="btn btn-primary my-1">Create Event</button>
                    
                </form>

            </div>
        </div>
      

    </div>

</section>

<script src="~/js/events.js"></script>
