 <h1 class="header">Employee Management System - Admin Panel</h1>

    <div class="admin-panel">
         <a href="/admin/CreateEvent"> <button>Create Event</button> </a>
    <a href="/admin/CreatePayroll"> <button>Create Payroll</button> </a>
    <a href="/admin/ViewEmployees"> <button>View Employees </button> </a>
    <a href="/admin/NewEmployee"> <button>New Employee</button> </a>
    </div>