<h1 class="header">Employee Management System - View Employees</h1>

<table id="employeeTable">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Net Salary</th>
        <th>Assigned Task</th>
        <th>Action</th>
    </tr>
</table>

<script src="~/js/viewEmployee.js"></script>