<h1 class="header">Employee Page</h1>

<div id="employeeDetails"></div>

<div class="button-container">
    <a href="/ProfileDetails">
        <button class="green-button" onclick="showProfileDetails()">
            Show Profile Details
        </button>
    </a>
    <button class="green-button" onclick="viewEvents()">View Events</button>
    <button class="leave-button" onclick="applyForLeave()">
        Apply for Leave
    </button>
</div>

<script src="~/js/employee.js"></script>