
@model List<TaskModel>
<section class="mt-5 container">

    <div class="row">
        <div class="col-3 ">
            <h1 class="login text-center">İMAGE İMAGE İMAGE</h1>
            <img src="../img/pexels-pixabay-269077.jpg" class="img" alt="...">

        </div>
        <div class="col-9">
            @foreach(var item in Model)
            {
            <div class="card">
                <h5 class="card-header">Task</h5>
                <div class="card-body">
                    <h5 class="card-title">@item.name</h5>
                    <p class="card-text">@item.description</p>
                        
                       @* <div class="mb-3">
                            <label for="status" class="form-label  d-flex">Status</label>
                            <select name="status" id="status" class="form-select">
                                <option value="0">done</option>
                                <option value="1">in progress</option>
                                <option value="2">appointed</option>
                            </select>
                        </div>*@
                        <form asp-action="TaskStatus" asp-controller= "employee"method="post">
                        <div class="row">
                            <div class="col-10">@item.dateOfPosting</div>
                               <input type="hidden" name="Id" value="@item.Id">
                                <div class="col-2">  <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                        </form>
                </div>
            </div>
            }
        </div>
        
    </div>
</section>