

<section class="mt-5 container">

    <div class="row">
        <div class="col-3 ">
            <h1 class="login text-center">İMAGE İMAGE İMAGE</h1>
            <img src="../img/pexels-pixabay-269077.jpg" class="img" alt="...">

        </div>
        <div class="col-9">
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <form>
                        <div class="mb-3">
                            <label for="status" class="form-label  d-flex">Status</label>
                            <select name="status" id="status" class="form-select">
                                <option value="0">done</option>
                                <option value="1">in progress</option>
                                <option value="2">appointed</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-10"></div>
                            <div class="col-2">  <button type="button" class="btn btn-dark">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>