<section class="mt-2 ">
    <div class="container-fluid text-center ">
        <div class="row">
            <div class="col-sm-3">
                <div class="container m-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded">

                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="/admin/CreateEvent">Create Event</a>
                        <a class="list-group-item list-group-item-action" href="/admin/CreatePayroll">Create Payroll</a>
                        <a class="list-group-item list-group-item-action" href="/admin/NewEmployee">New Employee</a>
                        <a class="list-group-item list-group-item-action" href="/admin/ViewEmployees">View Employees</a>
                        @*<a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>*@

                    </div>

                </div>
            </div>
