@model LoginModel
<div id="loginForm">
    <h2>Admin/Employee Login</h2>
    <form action="/account/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="~/js/login.js"></script>
